@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */

.icon{
    display: none;
}


nav ul li {
    float: left;
    
}

nav ul {
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    padding-top: 10px;
    margin: 10px;
}

header{
    margin-bottom: 20px;
    z-index: 2;
}

.head-logo{
    height:30px;
    width: 260px;
}

header div img {
    margin: 20px 0px 10px 40px;
    
    
}
.head-section{
    background-color: #fff;
    padding-bottom: 5px;
}

.sign-in {
    color: #fff;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #eb1701;
    
}

.sign-up {
    color: #291e1dce;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #fff;
    
} 


header{
    position: sticky;
    top: 0;
    
}
/* End of the header styling */

/* Main styling */

.main {
    background-image: url('hero_desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

}

.logo {
    width: 320px;
    height: 180px;
    background-color: #ff000000;
    margin-left: 520px;
    position: absolute;
    top: 33px;
    
    
}


div h1  {
    position: relative;
    top: 240px;
    margin-left: 340px;
    color: #fff;
}

.search-box {
    position: relative;
    top: 240px;
    margin-left: 500px;
    max-width: 330px;
    padding: 7px;
    border-radius: 25px;
    background-color: #fff;
}

.saved-address {
    position: relative;
    top: 250px;
    margin-left: 570px;
    width: 190px;
    background-color: #fff;
    border-radius: 50px;
    height: 25px;
    padding: 5px;
}


.fa-regular {
    margin-left: 5px;
}


button{
    border: none;
    background-color: #fff;
    

}

.fa-arrow-right {
    margin-left: 5px;
    background-color: rgb(245, 16, 16);
    color: #fff;
    padding: 8px;
    border-radius: 50px;
}

div input {
    outline: none;
    width: 270px;
    height: 22px;
    border: none;
    font-size: 16px;
    
}
/* End of main styling */

/* Second section */

.second-section {
    
    margin-left: 100px;
    margin-top: 80px;

    
}


h2 {
    font-size: 30px;
    text-align: center;
    
}

.tobi{
    color: #ff1e05;
    text-decoration: none;
    font-weight: bolder;
    background-color: #fff;
    
}

span {
    position: relative;
    top: 7px;
    color: #f00;
    
}

.faruq{
    position: relative;
    top:15px;
    margin-right: 850px;
    text-align: center;
}

.ola{
    position: absolute;
    top: 790px;
    margin-left: 450px;
    text-align: center;
}

.wale{
    position: absolute;
    top: 790px;
    margin-left: 800px;
    text-align-last: center;
}



div p {
    font-weight: 500;
    white-space: nowrap;
    
}

/* End of the second section  */

/* Third section */

.eating{
    float: right;
    clear: right;
    padding-right: 50px;
    padding-top: 20px;
}

.third-section {
    padding: 90px 0px 0px 50px; 
    margin-top: 150px;
}

h4 {
    font-size: 35px;
    margin: 0px 0px 5px;
    padding-top: 20px;
}

h5 {
    font-size: 19px;
    margin: 0px 0px 5px;
}

.resturants {
    background-color: rgb(235, 23, 1);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    font-weight: bolder;

}
/* End of the third section */

/* Fourth section */
.fourth-section {
    padding-bottom: 633px;
    background-color: #fff1ee;
    margin-top: 80px;
    
}



.food{
    float: left;
    clear: left;
    padding-left: 60px;
    margin: 30px;
}

.delivery {
    float: right;
    margin-top: 140px;
    margin-right: 70px;
}

h6 {
    font-size: 35px;
    margin: 0px 0px 5px;
}

.Dashpass {
    background-color: rgb(235, 23, 1);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    font-weight: bolder;

}

/* End of the fourth section */

/* Fifth section */
.fifth-section {
    background-image: url("grocery_desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    
    
}
.back {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 155px;
}

.grocery {
    font-size: 35px;
    position: relative;
    top: 0px; 
    color: rgb(15, 13, 13);
    text-align-last: center;
    line-height: 1.1;
    color: #fff;
}

.grocery2 {
    position: relative;
    top: 0px;
    margin-left: 320px;
    font-weight: bolder;
    font-size: 18px;
    color: #fff;
    
}

.grocery3 {
    position: relative;
    top: 0px;
    margin-left: auto;
    text-align-last: center;
    font-size: 18px;
    color: #fff;
    
}

.grocery4 {
    background-color: rgb(235, 23, 1);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: 0px;
    margin-left: 440px;
}
/* End of the fifth section */

/* Sixth section */


.image-sixth {
    float: right;
    clear: right;
    margin-right: 70px;
    width: 700px;
    height: 500px;
    
}

.div-sixth {
    margin-top: 90px;
    margin-left: 60px;
   
}

.header-sixth {
    padding-top:  140px; 
    line-height: 40px;
    
}

.link-sixth {
    background-color: rgb(235, 23, 1);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
}
/* End of the sixth  */

/* Seventh */
.seventh {
    background-color: rgb(255, 241, 238);
    margin-top: 90px;
    position: relative;
    padding-bottom: 50px;
}

.seventh-header {
    position: relative;
    top: 60px;
    left: 25%;
    width: 500px;
    margin-right: 0;
    font-size: 28px;
    text-align-last: center;
}



.seventh-image {
    position: relative;
    top: 100px;
    margin-left: 75px;
    width: 550px;
    height: 550px;

}

.seventh-image2 {
    position: relative;
    top: 100px;
    right: 15px;
    margin-left: 70px;
    width: 550px;
    height: 550px;
}

.seventh-image3 {
    position: relative;
    top: 50px;
    margin-left: 80px;
    width: 550px;
    height: 550px;
}

.seventh-image4 {
    position: relative;
    top: 50px;
    right: 25px;
    margin-left: 70px;
    width: 550px;
    height: 550px;
}

.seventh-container2 {
    font-size: 15px;
    margin-top: 80px;
    margin-right: 650px;
    padding-bottom: 0px;
    text-align: center;

}

.seventh-container3 {
  
    font-size: 15px;
    position: absolute;
    top: 760px;
    right: 0px;
    margin-right: 70px;
    text-align: center;
    
}

.seventh-link {
    background-color: rgb(235, 23, 1);
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
}

.seventh-container4 {
    font-size: 15px;
    margin-top: 40px;
    margin-right: 650px;
   
    text-align: center;

}

.seventh-container5 {
    font-size: 15px;
    position: absolute;
    bottom: 50px;
    right: 100px;

    text-align: center;
} 
/* End of the Seventh  */

 /* Eight section */

 .eight-container {
     position: relative;
     padding-bottom: 350px;
 }

 .eight-header {
    position: relative;
    top: 60px;
    font-size: 28px;
    text-align: center;
    padding: 20px;
    
 }

 .eight-image {
     float: right;
     clear: right;
     margin-top: 90px;
     margin-right: 60px;
 }

 .eight-container2 {
     position: relative;
     top: 220px;
     left: 50px;
     width: 400px;
 }
 /* End of Eight Section */

 /* Ninth Section */
.ninth-section {
    background-color: #fff1ee;
    height: 520px;
    padding-bottom: 60px;
}
 
.ninth-image {
    margin-left: 50px;
    margin-top: 40px;
    width: 700px;
    height: 500px;
}

.ninth-container2 {
    float: right;
    margin-top: 150px;
    margin-right: 70px;
}

.ninth-container2 h4 {
    line-height: 1.1;
}

/* End of the ninth section */


 /* Footer section */

 h2 {
     text-align: center;
 }

.contents {
    margin-top: 30px;
    margin-left: 35px;
}

.seattle {
    padding-left: 16px;
}


.Brooklyn {
    padding-right: 48px;
}

.San-Diego{
    padding-right: 32px;
}

.Las-vegas {
    padding-right: 16px;
}

 .contents{
    margin-bottom: 18px; 
 }

 .tab2-contents{
    margin-bottom: 18px; 
 }

 .tabs h2{
    margin-top: 70px;
 }
 

 .tab-contents  a{
     text-decoration: none;
     margin: 0 80px;
     color: #000;
     
 }

 .tab2-contents a{
    text-decoration: none;
    color: #000;
    margin-left: 120px;
    
    
}

.tab3-contents  a{
    text-decoration: none;
    color: #000;
    margin-left: 120px;
}

.queens {
    padding-left: 64px;
}

.vancouver {
    padding-left: 48px;
}

.miami {
    padding-left: 32px;
}

.antonio {
    padding-left: 48px;
}

 #active {

     border-bottom: 3px solid rgba(0, 0, 0, 0.568);
     padding: 8px 150px;
     text-decoration: none;
     color: #000;
     margin-left: 60px;
     font-weight: bolder;
     
 }

 .tab-links a:hover{
    background-color: rgba(206, 197, 197, 0.233);
 }
 

 .active-link {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 150px;
    
 }

 

 .link1 {
    position: relative;
    top: 40px;
}

 .link2 {
     position: absolute;
     top: 70px;
     left: 300px;
 }

 .link3 {
     position: absolute;
     top: 70px;
     left: 600px;
 }

 .link4 {
    position: absolute;
    top: 70px;
    right: 200px;
}

.link5 {
    position: relative;
    top: 100px;
}



.link6 {
    position: absolute;
    top: 350px;
    left: 200px;
}

.link7 {
    position: absolute;
    top: 350px;
    left: 400px;
}

.tab-contents a:hover{
    background-color: rgba(206, 197, 197, 0.233);
}

.tab2-contents a:hover{
    background-color: rgba(206, 197, 197, 0.233);
}

 .tab3-contents a:hover{
    background-color: rgba(206, 197, 197, 0.233);
}



 .footer-columns {
     position: relative;
     top: 320px;
     background-color: rgba(0, 0, 0, 0.89);
     display: block;
     height: 928px;
 }

 .footer-columns a{
    display: block;
    margin: 10px 0 10px 100px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.842);
    font-size: 14px;
    width: 200px;
}

.footer-columns a:hover {
    text-decoration: underline;
    color: #fff;
}


.footer-columns h3{
    color: #fff;
    margin-left: 100px;
    font-size: 16px;
    width: 160px;
}


.img2 {
    position: relative;
    bottom: 24px;
    left: 120px;
    width: 40px;
    height: 20px;
   
}

.playstores{
    bottom: 460px;
    display: flex;
    right: 100px;
    position: absolute;
    flex-direction: column;
}


.image1{
    width: 150px;
}

.image2{
    position: absolute;
    width: 150px;
    top: 55px;
    right: 3px;
}


.available{
    font-size: 12px;
}

.app {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    
}

.app2 {
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
    
}

.andriod{
    font-size: 8px;
    font-weight: bold;
    margin-left: 10px;
}


.store{
    background-color: rgba(112, 105, 105, 0.329);
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
    padding: 5px 12px 8px 48px;
    position: relative;
    bottom: 608px;
    border-radius: 10px;
    margin-left: 1100px;
    width: 110px;
    line-height: 1.1;
    
    
}

.store:hover{
    color: #fff;
    cursor: pointer;
}


.googleapp {
    position: relative;
    bottom: 555px;
    margin-left: 1120px;
    width: 23px;
    height: 35px;
    z-index: 2;
    
}

.google-play{
    background-color: rgba(112, 105, 105, 0.384);
    color: rgba(255, 255, 255, 0.733);
    line-height: 1.1;
    padding: 5px 5px 5px 50px;
    position: relative;
    bottom: 640px;
    border-radius: 10px;
    margin-left: 1100px;
    height: 45px;
    width: 120px; 
    
}


.google-play:hover{
    color: #fff;
    cursor: pointer;
}

.googleapp2 {
    position: relative;
    bottom: 585px;
    margin-left: 1120px;
    width: 35px;
    height: 40px;
    z-index: 2;
    
}

.small{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.842)
}

.terms {
    position: unset;
    display: flex;
    justify-content: flex-start;
    margin-left: 164px;
    margin-top: 130px;
}


.terms a{
    color: rgba(255, 255, 255, 0.842);
    width: 100px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;


}


a[target="_self"]{
    width: 130px;
    height: 20px;
}

a[target="_parent"]{
    width: 50px;
    height: 20px;
}

a[target="_top"]{
    width: 300px;
    height: 20px;
}

.terms a:hover{
    text-decoration: underline;
    color: #fff;
}


.foot {
    position: relative;
    display: flex;
    width: auto;
    bottom: 54px;
    justify-content: flex-end;
}


.footer-last {
    color: #fff;
    
}

.select-opt {
    color: #000;
    margin-right: 240px;
    padding-left: 40px;
}



div select{
    border-radius: 30px;
    padding: 7px 0 7px 35px;
    
}

.fa-globe{
    position: relative;
    right: 0;
    top: 3px;
    font-size: 20px;
    border-radius: 25px;
    left: 30px;
}

.fa-facebook{
    position: absolute;
    right: 160px;
    bottom: 8px;
   color: rgba(255, 255, 255, 0.445);
    font-size: 20px;
    border-radius: 25px;
    
}

.fa-facebook:hover{
    color: rgba(255, 255, 255, 0.719);
}

.fa-instagram {
    position: absolute;
    right: 130px;
    bottom: 8px;
    color: rgba(255, 255, 255, 0.445);
    font-size: 20px;
    
    
}

.fa-instagram:hover{
    color: rgba(255, 255, 255, 0.719);
}

.fa-x-twitter {
    position: absolute;
    right: 90px;
    bottom: 8px;
    color: rgba(255, 255, 255, 0.445);
    font-size: 20px;
    
    
}
.fa-x-twitter:hover{
    color: rgba(255, 255, 255, 0.719);
    }


@media (min-width: 320px) and (max-width: 1350px){

        

header{
    margin: 0;
}



 .head-section {
     position:relative;
     padding-top: 1px;
        }

        .head-logo {
            display: block;
            margin: 10px 0 0 0;
            width: 200px;
            height: 30px;
        }

.doordash{
    display: none;
}

.icon{
    display: block;
    position: absolute;
    right: 20px;
    font-size: 1.2rem;
    top: 11px;
    color: #eb1701;
}

.logo{
    display: block;
    margin: 0 auto;
    position: unset;
    width: 300px;
}

.main h1{
    display: block;
    margin: 0 auto;
    position: unset;
    width: auto;
    white-space: pre-line;
    text-align: center;
}

.search-box{
    display: block;
    margin: 20px auto;
    width: 270px;
    position: unset;
}


div input {
    outline: none;
    height: 22px;
    margin-left: 10px;
    border: none;
    font-size: 1rem;
    margin-top: 5px;
    width: auto;
}

.fa-location-dot{
    margin: 0;
}

.saved-address{
    margin: 0 auto;
    position: unset;
}

.second-section{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.faruq {
    margin: 0 auto;
    position: unset;
    text-align: center;
}

.ola {
    margin: 0 auto;
    position: unset;
    text-align: center;
}

.wale {
    margin: 0 auto;
    position: unset;
    text-align: center;
}

.eating {
    object-fit: contain;
    width: 300px;
    float: unset;
    margin: 0 auto;
    height: auto;
    display: block;
    padding: unset;
}


.third-section{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: unset;
}

 .third-section h4{
    font-size: 2rem;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

 .third-section h5{
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

 .third-section p{
    white-space: pre-line;
    display: flex;
    width: auto;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.resturants{
    margin: 0 80px;
}


.fourth-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: unset;
}

.food {
    display: block;
    width: 300px;
    object-fit: contain;
    margin: 0 auto;
    padding: unset;
    float: unset;
    height: auto;
}

.delivery{
    display: block;
    text-align: center;
    margin: 0 auto;
}


.delivery h4{
    font-size: 2rem;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

 .delivery h5{
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

 .delivery p{
    white-space: pre-line;
    display: flex;
    width: auto;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.third-section h4 {
    line-height: 1.1;
}

.third-section h5 {
    margin: 20px auto;
}

.resturants  {
    font-size: 0.8rem;
    margin-left: 100px;
}

.fourth-section{
    position: relative;
}

.delivery{
    height: 250px;
    margin: 20px auto;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.1;
}
.Dashpass{
    padding: 5px;
    left: 110px;
    font-size: 0.8rem;
    height: 350px;
}

.fifth-section {
    width: 300px;
    display: block;
    margin: 0 auto;
    height: 350px;
}

.back{
    padding: 13px;
    position: relative;
    margin-top: 0;
}

.grocery  {
    display: block;
    margin: 20px auto;
    position: unset;
    font-size: 1.8rem;
}

.grocery2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    white-space: pre-line;
}

.grocery3  {
    white-space: pre-line;
    text-align: center;
}


.grocery4 {
    position: absolute;
    margin-left: 29%;
    padding: 5px;
    font-size: 0.8rem;
    top: 310px;
}

.sixth{
    display: flex;
    width: auto;
    margin: 30px auto;
    flex-direction: column;
}

.image-sixth {
    float: unset;
    object-fit: contain;
    height: auto;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.div-sixth {
    margin: 0 auto;
    text-align: center;
    white-space: pre-line;
    width: 100%;
    display: block;
}


.header-sixth{
    padding: unset;
}


div p{
    white-space: pre-line;
    margin: 0 auto;
}


.link-sixth {
    padding: 5px;
}

.seventh-header {
    position: unset;
    text-align: center;
    width: 300px;
    display: block;
    margin: 0 auto;
}


.seventh-image {
    position: unset;
    width: 300px;
    object-fit: contain;
    height: auto;
    display: block;
    margin: 10px auto;
}

.seventh-image2  {
    position: unset;
    width: 300px;
    object-fit: contain;
    height: auto;
    display: block;
    margin: 400px auto;
}

.seventh-container2  {
    margin: 0;
    position: absolute;
    top: 450px;
}


.seventh-container3 {
    margin: 0;
    position: absolute;
    top: 1100px;
    left: 5px;
}

.seventh-image3{
    position: unset;
    width: 300px;
    object-fit: contain;
    height: auto;
    margin: 10px auto;
    display: block;
}

.seventh-image4{
    position: unset;
    width: 300px;
    object-fit: contain;
    height: auto;
    margin: 350px auto;
    display: block;
}


.seventh-container4{
    margin: 0;
    position: absolute;
    bottom: 740px;
    right: 18px;
}

.seventh-container4 h4{
    line-height: 1.1;
}


.small{
    font-size: 1rem;
    color: unset;
    display: block;
}


.seventh-container5 {
    bottom: 100px;
    right: unset;
    left: 25px;
}

.eight-container{
    padding-bottom: unset;
    margin-bottom: 50px;
}


.eight-image{
    position: unset;
    width: 300px;
    object-fit: contain;
    height: auto;
    margin: 10px auto;
    display: block;
    float: none;
}

.eight-header{
    position: unset;
}

.eight-container2 {
    position: unset;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.eight-container2 h4{
    padding-top: unset;
    font-size: 1.8rem;
}

.ninth-image {
    position: unset;
    width: 300px;
    object-fit: contain;
    height: auto;
    margin: 10px auto;
    display: block;
}


.ninth-container2{
    float: none;
    margin: 0;
    text-align: center;
}

.tabs{
    display: block;
    margin-top: 100px;
}

.tab-contents, .tab2-contents, .tab3-contents{
    display: none;

}


.tab-links{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

#active{
    margin-left: 0;
    padding: unset;
}

.active-link{
    padding: unset;
}



.footer-columns{
    position: unset;
    height: unset;
    display: flex;
    flex-wrap: wrap;
    margin-top: 250px;
}

.link1, .link2, .link3, .link4, .link5, .link6, .link7{
    position: unset;
}




.footer-columns h3{
        margin-left: 20px;
}

.footer-columns a{
    margin: 10px auto 10px 20px;
}

.playstores{
    display: none;
}


.terms{
    display: none;
}

.img1{
    position: absolute;
    top: 0;
}

.hidden, .hidden2{
    display: none;
}

.select-opt{
    margin-right: 0;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.foot{
    height: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.fa-facebook{
    left: 5px;
    bottom: 15px;
    position: absolute;
}

.fa-instagram{
    bottom: 15px;
    left: 30px;
    position: absolute;
}
   
.fa-x-twitter{
    position: absolute;
    left: 55px;
    bottom: 15px;

}

.footer-last {
    display: flex;
    margin: 0 auto;
    right: unset;
    justify-content: center;
    position: unset;
}


}
    
@media (min-width: 360px) and (max-width: 1350px){
    .head-section {
        position: relative;
    }

    .head-logo {
        height: 37px;
    }

    .doordash {
        position: relative;
        display: block;
        margin: 0;
        bottom: 40px;
    }
    nav ul {
        position: absolute;
        right: 0;
        margin: 0;
    }


.sign-in {
    padding: 5px 5px;
    display: block;
    font-size: 0.8rem;
}

.sign-up{
    padding: 5px 5px;
    display: block;
    font-size: 0.8rem;
}

.icon{
    display: none;
}



}

@media (min-width: 410px) and (max-width: 1350px){
    .seventh-container2{
        right: 30px;
        left: 10px;
        top: 440px;
    }

.seventh-container2 h4{
    line-height: 1.1;
}



}

@media (min-width: 550px) and (max-width: 1350px){

    .fifth-section {
    width: 530px;
    display: block;
    margin: 0 auto;
    height: 350px;
    }

    .grocery4 {
        margin-left: 32%;
    }



    .back {
        padding: 41px;
    }


}
    
@media (min-width: 600px) and (max-width: 1350px){
    .seventh-container4{
        left: 20px;
    }

    .seventh-container5{
        right: 0;
    }

.select-opt{
    right: 80px;
}

.fa-facebook{
    left: 120px;
}

.fa-instagram{
    left: 150px;
}

.fa-x-twitter{
    left: 180px;
}


}

@media (min-width: 1000px) and (max-width: 1350px){

    .tab-contents, .tab2-contents, .tab3-contents{
        display: none;
    
    }
   

    .third-section {
        margin: 50px auto 0 auto;
    }




    .eating{
        object-fit: cover;
        width: 500px;
        margin: 20px;
    }

    .fourth-section {
        flex-direction: row;
    }

    .fourth-section {
        flex-direction: row;
    }

.food{
    width: 500px;
    margin-left: 20px;
}

.delivery{
    margin: 50px auto 0 auto;
}

.delivery h6{
    font-size: 2rem;
}

.fifth-section {
    width: 100%;
    max-width: 950px;
    margin: 50px auto;
}

.back {
    padding: 55px 0;
}

.grocery4{
    margin-left: 45%;
}

.border{
    display: flex;
    flex-direction: row-reverse;
}

.image-sixth{
    width: 500px;
    margin-left: 20px;
}

.div-sixth {
    position: absolute;
    right: 70px;
    width: auto;
}

.sixth {
    display: flex;
    width: auto;
    margin: 30px auto;
    justify-content: center;
    flex-direction: column;
}

.image-sixth {
    width: 500px;
    margin-right: 0;
    margin-left: 5%;
}

.ninth-section{
    height: 300px;
}


.ninth-image{
    position: absolute;
    width: 500px;
    margin-left: 7%;
}

.ninth-container2 {
    margin: 0;
    position: relative;
    left: 60%;
    width: 400px;
}

.tabs{
    margin-top: 135px;
}



.footer-columns {
    margin-top: 250px;
    justify-content: center;
}

.tab-contents, .tab2-contents, .tab3-contents{
    display: none;

}


.hidden, .hidden2{
    position: relative;
    top: 400px;
}

.select-opt {
    right: 20%;
}

.fa-facebook{
    left: 28%;
}

.fa-instagram{
    left: 31%;
}

.fa-x-twitter {
    left: 34%;
}

}

@media (min-width: 1050px) and (max-width: 1350px){
    .seventh-container2 {
        right: 0;
        left: 486px;
        top: 155px;
    }

.seventh-image{
    width: 400px;
    position: absolute;
    left: 5%;
    margin-left: 1%;
}

.seventh-image2{
    margin-right: 3%;
    width: 400px;
}

.seventh-container3 {
    top: 580px;
    left: 2%;
    right: unset;
}
.seventh-image3 {
    position: absolute;
    width: 400px;
    object-fit: contain;
    height: auto;
    top: 950px;
    margin: 10px 20px;
}

.seventh-container4 {
    left: 550px;
    bottom: 500px;
}

.seventh-container5 {
    right: 400px;
    position: absolute;
}

.seventh-image4 {
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: 0;
    object-fit: contain;
    height: auto;
    display: block;
}


.eight-image{
    margin: 0 5%;
    width: 500px;
}

.eight-container2 {
    position: absolute;
    right: 0;
    top: 150px;
    left: 500px;
}

.eight-container2 h4{
    font-size: 2.5rem;
    line-height: 1.1;
}


















}

@media (min-width: 1218px) and (max-width: 1350px){
    .tab-contents, .tab2-contents, .tab3-contents{
        display: block;
    
    }

    .footer-columns {
    margin-top: 370px;
    }



}